.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.app-header-container {
    flex-grow: 0;
    flex-shrink: 0;
}

.app-body-container {
    flex-grow: 1;
    flex-shrink: 1;
}

.app-footer-container {
    flex-grow: 0;
    flex-shrink: 0;
}